@model Categoria

@{
    ViewData["Title"] = "Cadastrar";
}

<h2>Nova Categoria</h2>
<div asp-validation-summary="All" class="text-danger"></div> <!--Verifica se todos os campos estão preenchidos-->


<form asp-action="Cadastrar" asp-controller="Categorias" method="post">

	<div class="mb-3">
		<label asp-for="CategoriaId" class="form-label">CategoriaId</label>
		<input asp-for="CategoriaId" class="form-control" />
	</div>

	
	<div class="mb-3">
		<label asp-for="Nome" class="form-label">Nome</label>
		<input type="text" asp-for="Nome" class="form-control" />
	</div>

	

	<button type="submit" class="btn btn-primary">Adicionar</button>
	<a asp-action="Index" class="btn btn-primary">Cancelar</a>
</form>

