@model IEnumerable<Tarefa>

	<div class="row">
		<div class="col-md-2">

			<form asp-action="Filtrar" asp-controller="Home" method="post">

				<div class="mb-3">
					<label class="form-label">Categoria:</label>
					<select name="filtro" class="form-select" asp-items="@(new SelectList(ViewBag.Categorias,"CategoriaId", "Nome", ViewBag.Filtros.CategoriaId))">
						<option value="todos">Todos</option>
					</select>
				</div>

			<div class="mb-3">
				<label class="form-label">Data de Vencimento:</label>
				<select name="filtro" class="form-select" asp-items="@(new SelectList(ViewBag.VencimentoValores,"Key", "Value", ViewBag.Filtros.Vencimento))">
					<!-- "key", "Value" buncando do Dictionary em Filtros.cs-->
					<option value="todos">Todos</option>
				</select>
			</div>

			<div class="mb-3">
				<label class="form-label">Situação:</label>
				<select name="filtro" class="form-select" asp-items="@(new SelectList(ViewBag.Status,"StatusId", "Nome", ViewBag.Filtros.StatusId))">
					<option value="todos">Todos</option>
				</select>
			</div>

			<button type="submit" class="btn btn-primary">Filtrar</button>
			<a asp-action="Index" asp-route-id="" class="btn btn-primary">Limpar</a>
			</form>

		</div>
		<div class="col-md-10"></div>
	</div>
